@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,600;1,400;1,500&family=Philosopher:ital,wght@0,700;1,700&family=Playfair+Display:ital,wght@0,500;0,700;1,400&display=swap");
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body {
  background-color: #598392;
  color: #01161e;
  font-family: "Montserrat Alternates", sans-serif;
}

.App {
  text-align: center;
}

a {
  margin: 25px;
}

.navbar {
  background-color: #aec3b0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.navbar a {
  text-decoration: none;
  color: #01161e;
  font-size: 20px;
  font-weight: bolder;
}

a.home {
  font-size: 30px;
}

a.form_nav {
  font-size: 15px;
  margin-top: 35px;
}

a.other_nav {
  margin-top: 32px;
}

.home_container {
  display: flex;
  background-color: #eff6e0;
}

.home_in {
  display: flex;
  align-items: center;
}

.home_in h2 {
  font-size: 32px;
  margin: 15px;
}

.footer_container {
  background-color: #aec3b0;
  font-weight: bolder;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
}

.footer_in {
  align-content: space-between;
  flex-direction: column;
}
.footer_in p {
  margin: 5px;
}

.footer_connect {
  display: inline;
}

.card_container {
  display: flex;
  justify-content: space-evenly;
}

.card_items {
  display: flex;
}

.items_container {
  margin: 40px;
}

.featured_shops {
  width: 30%;
  margin-left: 35%;
  margin-top: 40px;
  margin-bottom: 50px;
}

.slick-slide img {
  display: inline;
}

.mobile_menu {
  background-color: #aec3b0;
  color: #01161e;
  font-family: "Montserrat Alternates", sans-serif;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
}

.mobile_menu button {
  color: #01161e;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bolder;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  background-color: #aec3b0;
}

.css-6hp17o-MuiList-root-MuiMenu-list a {
  color: #01161e;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bolder;
  text-decoration: none;
}

a.home2 {
  font-size: 15px;
  margin: 0;
}

a.form_nav2 {
  font-size: 15px;
  margin: 0;
}

a.other_nav2 {
  font-size: 15px;
  margin: 0;
}

form {
  background-color: #aec3b0;
  margin: 50px;
  padding: 15px;
  border-radius: 4px;
  width: 70%;
  margin-left: 15%;
}

.form_input {
  background-color: aliceblue;
  border-radius: 6px;
}

.form_dropdown {
  border-radius: 6px;
}

@media only screen and (max-width: 1000px) {
  .navbar {
    padding: 10px;
  }
  .featured_shops img {
    width: 200px;
  }
  .home_in h2 {
    font-size: 20px;
    margin: 15px;
  }
  .home_in img {
    width: 300px;
  }
  .footer_in p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 771px) {
  a.home {
    font-size: 25px;
  }

  a.form_nav {
    font-size: 10px;
  }

  a.other_nav {
    font-size: 15px;
  }
  a {
    margin-right: 0px;
    margin-left: 0px;
  }

  .featured_shops {
    margin-bottom: 100px;
    width: 40%;
    margin-left: 30%;
  }

  .home_in h2 {
    font-size: 15px;
    margin: 15px;
  }
  .home_in img {
    width: 250px;
  }
  .footer_in p {
    font-size: 10px;
  }
}

@media only screen and (max-width: 570px) {
  .navbar {
    display: none;
  }
  form {
    width: 90%;
    margin: 15px;
  }
  form h1 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 510px) {
  .featured_shops img {
    width: 200px;
  }
  .featured_shops {
    margin-bottom: 100px;
    width: 60%;
    margin-left: 20%;
  }

  .home_container {
    display: flex;
  }

  .home_in {
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }

  .home_in h2 {
    font-size: 15px;
    margin: 15px;
  }
  .home_in img {
    width: 250px;
    margin-top: 25px;
  }
  .footer_in p {
    font-size: 10px;
  }
  form {
    width: 80%;
    margin: 30px;
  }
  .css-xn6ruc {
    margin: 0;
  }
}

@media only screen and (max-width: 340px) {
  .featured_shops {
    margin-bottom: 100px;
    width: 80%;
    margin-left: 10%;
  }
}
