@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,600;1,400;1,500&family=Philosopher:ital,wght@0,700;1,700&family=Playfair+Display:ital,wght@0,500;0,700;1,400&display=swap");

body {
  background-color: #598392;
  color: #01161e;
  font-family: "Montserrat Alternates", sans-serif;
}

.App {
  text-align: center;
}

a {
  margin: 25px;
}

.navbar {
  background-color: #aec3b0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
  color: #01161e;
  font-size: 20px;
  font-weight: bolder;
}

a.home {
  font-size: 30px;
}

a.form_nav {
  font-size: 15px;
  margin-top: 35px;
}

a.other_nav {
  margin-top: 32px;
}

.home_container {
  display: flex;
  background-color: #eff6e0;
}

.home_in {
  display: flex;
  align-items: center;
}

.home_in h2 {
  font-size: 32px;
  margin: 15px;
}

.footer_container {
  background-color: #aec3b0;
  font-weight: bolder;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
}

.footer_in {
  align-content: space-between;
  flex-direction: column;
}
.footer_in p {
  margin: 5px;
}

.footer_connect {
  display: inline;
}
